[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/nzcka
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nzcka
	label-Verified = -1..+1 group user/nzcka
	push = group user/nzcka
	read = group user/nzcka
	rebase = group user/nzcka
	removeReviewer = group user/nzcka
	submit = group user/nzcka
[access "refs/heads/*"]
	create = group user/nzcka
	push = +force group user/nzcka
	pushMerge = group user/nzcka
	read = group user/nzcka
[access "refs/tags/*"]
	push = group user/nzcka
	push = +force group user/nzcka
